<h1 id="tableLabel">Drivers</h1>

<p *ngIf="!drivers"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="parts">
  <thead>
    <tr>
      <th>ID</th>
      <th>Truck No.</th>
      <th>Driver Name</th>
      <th>Location Code</th>
      <!-- insert images here...maybe -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Driver of drivers">
      <td>{{ Driver.id }}</td>
      <td>{{ Driver.truckNo }}</td>
      <td>{{ Driver.driverName }}</td>
      <td>{{ Driver.locationCode }}</td>
    </tr>
  </tbody>
</table>


Truck Number
<input [(ngModel)]="newDriver.truckNo" name="truckNo" />
Driver Name
<input type="string" [(ngModel)]="newDriver.driverName" name="driverName" />
Location Code
<input type="string" [(ngModel)]="newDriver.locationCode" name="locationCode" />

<button (click)="save()">Save</button>


