<div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Input</mat-label>
          <input [(ngModel)]="newDriver.truckNo" name="truckNo">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Select</mat-label>
          <mat-select>
            <mat-option value="option">14WJ</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Driver Name</mat-label>
          <input type="string" [(ngModel)]="newDriver.driverName" name="driverName">
        </mat-form-field>
      </div>